<div class="col-md-3 members_sidebar">
                <div class="">

                    <div class="col-md-12">
                        <div class="User_Info">

                            <h2>{{user.manager_name}}</h2>

                            <div class="user_contact">
                                <i class="fa fa-map-marker"></i><span>Washington, lisum</span>
                                <div class="clearfix"></div>
                                <i class="fa fa-envelope"></i><span>{{user.email}}</span>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-12">

                        <div class="member_menu">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <ul>
                            <li><a ng-click="set_area_progress(1)" ng-class="{'active':area_progress==1}"><i class="fa fa-building"></i> Company Information</a></li>

                            <div class="collapse navbar-collapse no-padding" id="myNavbar">

                                <li><a href=""  ng-click="set_area_progress(2)"  ng-class="{'active':area_progress==2}"><i class="fa fa-cogs"></i> Services</a></li>
                                <li><a href=""  ng-click="set_area_progress(3)"  ng-class="{'active':area_progress==3}"><i class="fa fa-info-circle"></i> About Us</a></li>
                                <li><a href=""  ng-click="set_area_progress(4)"  ng-class="{'active':area_progress==4}"><i class="fa fa-tag"></i> Brands</a></li>
                                <li><a href=""  ng-click="set_area_progress(5)"  ng-class="{'active':area_progress==5}"><i class="fa fa-map-marker"></i> Location</a></li>
                            </div>
                            </ul>

                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>