<span class="brand_name"> Emirates Guide </span>

 <!-- begin sidebar -->
    <div class="container-fluid full-width side_bar" ng-controller="NavbarController">
        <span class="fa fa-bars fa-3x font-white hoverable font-yellow" data-toggle="collapse" data-target="#demo" style="background:rgba(0,0,0,0.5) !important; padding: 20px;"></span>
        <div id="demo" class="collapse menu-top">
            <ul class="sidebar_list">
                <li class="hoverable">
                    <a href="#login" class="fa fa-user fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="Members Area / Login"> </a>
                </li>
                <li class="hoverable">
                    <a href="#business_list" class="fa fa-file-text-o fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="List your business"> </a>
                </li>
                <li class="hoverable">
                    <a href="premium-business.html" class="fa fa-briefcase fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="Premium Business"> </a>
                </li>
                <li class="hoverable">
                    <a href="events.html" class="fa fa-rss fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="News & Events"> </a>
                </li>
                <li class="hoverable">
                    <a href="video_guide.html" class="fa fa-video-camera fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="Video Guide"> </a>
                </li>
                <li class="hoverable">
                    <a href="business_list-4.html" class="fa fa-map-marker fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="Location Base Business"> </a>
                </li>
                <li class="hoverable">
                    <a href="offers.html" class="fa fa-tag fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="Offers Arena"> </a>
                </li>
                <li class="hoverable">
                    <a href="advertise.html" class="fa fa-volume-off fa-2x font-yellow toolable" data-toggle="tooltip" data-placement="right" title="Advertise with us"> </a>
                </li>
            </ul>
        </div>
    </div>