<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px;max-height: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> Forgot Password </h4>
            </div>
            <div class="modal-body">
            <form name="reset_password_form">
                <div class="row"> 
                <div class="col-sm-offset-1" style="margin-top:-15px;">
                    <h4> Enter your Email to get your password back. </h4>
                    <div class="col-sm-11 text-right"> <div class="row">
                      
                        <div class="col-sm-10"> <input type="email" name="email" ng-model="resetemail" class="form-control" required /> </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" ng-disabled="reset_password_form.$invalid" ng-click="reset_password(resetemail)"> Submit </button>
                        </div>
                        
                        
                        </div>
                        </div>
                </div>
                </div>
            </form>    
            </div>
        </div>
    </div>
