<section name="headerSection">
    <div class="header navbar navbar-default navbar-static-top no-scrolling-fixed">
		<div class="container">
                <div class="row headerItems">
                    <div class="col-md-4">
                        <a class="navbar-brand logo-v1" href="">
                        <p class="logoEg">EmiratesGuide.com</p>
                    </a></div>
                   <div class="col-md-4 "><p class="breadCrumbEg"><span>Main</span> &gt; Automotive &gt; Al Farooq Showroom</p></div>
                    <div class="col-md-4 "> <p class="applyHeader"> Looking for Page Like? <a href="#packages">Apply Here</a></p></div>
                </div>

		</div>
    </div>
    </section>

    <ng-include src="'./modules/Business_List/view/business_view_med_construct_hotel_tour.html'"> </ng-include>