<style type="text/css">
    #gmaps{
        width: 500px !important;
        height: 500px !important;
    }

</style>
<div class="container-fluid listBgColor">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="AlphabetSearch_wrap">
                            <div class="row">
                                <div class="col-md-7 col-sm-7">

                                    <div class="filter_alphabets">

                                        <ul>
                                            <li  ng-repeat="item in get_array(26) track by $index" ng-click="filter_item($index)"><a ng-class="{'selected_character':$index==filter_character.index}" href=""> {{indexChar($index)}} </a></li>
                                            <li ng-click="clear_character()"> <a class="selected_character" href="" ng-if="filter_character.index"> [X] </a> </li>
                                            
                                            
                                        </ul>

                                    </div>

                                </div>
                                <div class="clearfix clear_screen"></div>
                                <div class="col-md-5 col-sm-5">

                                    <div class="Filter_SearchArea">

                                        <input type="search" class="searchplace" placeholder="Search Here" ng-model="search.company_name">
                                        <button><i class="fa fa-search"></i> </button>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

<!--End Search Area-->

        <!--listingWrap-->
<div class="headingList_wrap">
            <div class="container">

                <div class="row">

                    <div class="col-md-6">

                        <h1 class="headingList">List of Registered <strong>Businesses</strong></h1>

                    </div>
                    <div class="col-md-6">

                        <div class="viewList_wrap">

                            <ul>
                                <li ng-click="set_list_view(1)"><a class="list_padd li-1_hover" href=""><img src="common/img/li-1.png"></a></li>
                                <li ng-click="set_list_view(2)"><a class="list_padd" href=""><img src="common/img/li-2.png"></a></li>
                                <li ng-click="set_list_view(3)"><a href=""><img src="common/img/li-3.png"></a></li>
                                <li ng-click="set_list_view(4)"><a class="no-border active-right map_hover" href=""><i class="fa fa-map-marker"></i> </a></li>
                            </ul>

                        </div>


                    </div>

                </div>

            </div>
</div>
        <!--End listingWrap-->

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-sm-8">

                <div class="container-fluid full-width">
                    <div class="clearfix"></div>
                    <div class="row margin-bottom-40 our-clients">
                        <my-map active_businesses="{{active_businesses}}"></my-map>
                    </div>
                </div>

     </div>

            <div class="col-md-4 col-sm-4">

                <div class="Category_wrap">

                    <div class="innerWrap">

                        <h1>Categories</h1>

                        <ul>
                            <li  ng-repeat="category in categories"><a href="">{{category.category_name}}</a></li>
                        </ul>

                    </div>

                    <div class="innerWrap recentNews-box">

                        <h1>Recent News</h1>

                        <ul>

                            <li>
                                <p><strong>12-12-2016</strong></p>
                                <h2>Letiusto gnissimos</h2>
                                <p>Decusamus tiusto odiodig nis
                                    simos ducimus qui sint</p>
                            </li>
                            <li>
                                <p><strong>12-12-2016</strong></p>
                                <h2>Letiusto gnissimos</h2>
                                <p>Decusamus tiusto odiodig nis
                                    simos ducimus qui sint</p>
                            </li>



                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>





        <!---END Business List-->
</div>