<div class="container-fluid">

            <div class="row">

                <div class="col-md-12 no-padding">

                    <div class="BusinessList_Banner">

                        <h1>Create Your Business Listing</h1>
                            <p>You will find out that YOUR business is growing as a direct result of your relationship with Emirates Guide Business Directory. We offer an integrated approach to online marketing for businesses in Emirates Guide. The website allows visitors to review and recommend businesses and products that they have used . Emirates Guide is an easy way for your business to connect with more customers.</p>
                    </div>

                </div>

            </div>

        </div>